html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header{
  width:100%;
  background-color: gold;
  height: 120px;
  background: linear-gradient(to top right, #d4afb9 0%, #d1cfe2 25%, #9cadce 50%, #7ec4cf 75%, #52b2cf 100%);
  margin-bottom: 20px;
}
html{
  background-image: url("assets/flames_red.gif");
}
.body{
  background: -webkit-radial-gradient(center, ellipse cover, #d4afb9 0%,#d1cfe2 25%,#9cadce 50%,#7ec4cf 75%,#52b2cf 100%);
  margin: 0 15% 0 15%;
}
header img{
  margin-left:35%;
}
a{
  cursor: default;
  text-decoration: none !important;
}
h2{
  font-size: 32px;
  text-align: center;
  font-family: boogaloo;
}
p{
  width:900px;
  height:400px;
  font-size: 20px;
  line-height: 40px;
  padding: 0 0 0 20px;
  font-family: boogaloo;
}
a h1{
  color: #52B2CF;
}
 #absolutefish{
   z-index: 100;
   position:absolute;
 }
 #absolutefish img{
   margin-top:57px;
 }
section{
  padding-top: 20px;
  height:560px;
}
/*the about us */
section a img{
  margin-left:45%;
}
/*---------------------------------------------------------*/
.footer{
  height: 200px;
  border-top:1px dotted blue;
  margin-top: 20px;
  background-image: url("assets/beach.gif");
}
