body {
  background-color: #FFF;
}

.gatheringBorder {
  border: 1px solid #000;
  width:110px;
}
.timeBorder {
  margin-top: 10px;
  border: 1px solid #000;
  width:110px;
}
.variable {
  padding-left:17px;
}

#test {
  width:110px;
  margin:5px;
}
button {
  width:110px;
}
#test p {
  color: inherit;
}
